.cardImg{
    width: 50%;
    height: 45%;
}
.card{
    width: 350px;
    height: 300px;
    align-items: center;
    background-color: rgba(238, 235, 235, 0.568);
    margin: 30px;
    padding: 20px;
}

.row{
    justify-content: center;

}

section{
    margin-top: 50px !important;
}

.pDescription{
    margin: 30px;
}

@media screen and (max-width: 576px) {
    .card{
        width: 300px;
        height: 250px;
        margin: 30px;
        padding: 20px;
    }
}