.cardImg{
    width: 50%;
    height: 45%;
}

.card{
    width: 400px;
    height: 300px;
    align-items: center;
    background-color: rgba(238, 235, 235, 0.568);
    margin: 30px;
}

.rowItem{
    justify-content: center;

}