.cardImg{
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.card{
    width: 400px;
    height: 350px;
    align-items: center;
    background-color: rgba(238, 235, 235, 1);
    margin: 30px;
    border-color: black;
}

.itemTitle{
    font-family: 'Russo One', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 14px;
}
.card:hover{
    transform: scale(1.03);
    transition: 300ms;
}

.rowItem{
    justify-content: center;

}

.btn{
    font-size: 18px;
}

.btn-info{
    padding: 0.385rem 0.75rem;
    color: white;
    background-color: rgb(240, 45, 136) !important;
    border: rgb(104, 17, 58);
}
.btn-info:hover{
    background-color: rgb(240, 94, 162)!important;
    color: white;
}