
.navbar{
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(240, 45, 136) !important;
}
.navbar-brand{
    color: white !important;
}

.nav-link{
    color:white !important  ;
}
.nav-link:hover{
    color:black !important; 
}
.navbar-brand:hover{
    color: rgb(0, 0, 0) !important;
}

.navbar-toggler{
    color: white;
    position: relative;
    margin-right: 20px;
    
}

@media only screen and (max-width: 400px) {
    .navbar-toggler{
        display: flex;
        width: 40px;
        text-align: center;
        align-items: center;

    }
    .navbar-toggler-icon{
        width: 30px;
        height: 30px;
        background-size: 140%;
        
    }   
}

