.cartCardImg{
    width: 50%;
    height: 80%;
    border-radius: 5px;
}

.cartCard{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: rgba(238, 235, 235, 1);
    margin: 30px;
    border-color: black;
    justify-content: space-around;
    border: solid 1px;
    padding: 10px;
}

.emptyCartImg{
    width: 25%;
}

.emptyCartRow{
    margin-top: 20px;
    background-color: white;
    border-radius: 50%;
}

.cartRow{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    
}

.btnRmv{
    width: 20%;
    height: 50%;
    margin: 5px;
}

.btnBack{
    font-size: 30px;
    width: 10%;
}
.btnBackRow{
    margin-top: 10px;
}
.cartBotRow{
    margin-top: 50px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.cartItemTitle{
    font-size: 100px;
    font-family: 'Russo One', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgba(238, 235, 235, 0.8);
    margin-top: 30px;
    border-radius: 10px;
    width: 70%;
}



h2{
    font-weight: bold;
}
.cartTitle{
    
    font-family: 'Russo One', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

h3{
    color:rgb(75, 74, 74)
}

.btn-secondary{
    margin-top: 10px;
}

.cartDiv{
    margin-right: 20px;
}

@media only screen and (max-width: 1200px){
.cartTitle{
    font-size: 1.5rem;
}
.cartPrice{
    font-size: 1.5rem;
}
.cartDiv h3{
    font-size: 1.5rem;
}

}
@media only screen and (max-width: 930px){
    .cartCard{
        flex-direction: column;
    }
    .cartCardImg{
        width: 70%;
        height: 80%;
        border-radius: 5px;
    }
    .cartBotRow{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 756px){
    .cartCard{
        width: 80%;
        height: auto;
        display: flex;
        align-items: center;
        background-color: rgba(238, 235, 235, 1);
        margin: 30px;
        border-color: black;
        justify-content: space-between;
        border: solid 1px;
    }
}
@media only screen and (max-width: 576px){
    .cartItemTitle{
        font-size: 80px !important;
    }
    .cartTitle{
        font-size: 20px;
    }
    
    .cartPrice{
       font-size: 15px
    }
    .cartDiv h3{
        font-size: 15px;
    }
    .cartDiv{
        margin-right: 10px;
    }
    .btnRmv{
        font-size: 15px;
        padding: 2px;
        width: 30%;
    }
}