.barraContador{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    }

.rowItemCount{
    justify-content: center;
}
.rowItemCountDiv{
    justify-content: center;
    
}
h4{
    width: 10px;
}

.btn-primary{
    margin: 5px;
}