.barraContador{
    display: flex;
    justify-content: center;
    align-items: baseline;

    }

.rowItemCount{
    justify-content: center;
}
.rowItemCountDiv{
    justify-content: center;
    
}
h4{
    width: 10px;
}

.btn-primary{
    margin: 5px;
}
.btnSuma{
   background-color: rgb(240, 45, 136);
   width: 60px;
   font-size: 30px;
   margin-right: 5px;
}
.btnSuma:hover, .btnResta:hover{
    background-color: rgb(247, 93, 165);
}
.btnResta{
    background-color: rgb(240, 45, 136);
    width: 60px;
    font-size: 30px;
    margin-left: 5px;
 }